<!-- Start of '{%= name %}' interactive -->
<figure class='interactive' data-interactive='<%= projectUrl %>'>
		
	<link rel='stylesheet' href='<%= projectUrl %>css/main.css'>
	<h1 id='interactiveLog'>here is the interactive guts</h1> 

</figure>
<!-- End of '{%= name %}' interactive -->	   