<!doctype html>
<html lang='en'>
<head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1'>

        <!-- replace this with a proper (non-slug) title -->
        <title>{%= name %}</title>
</head>

<body>

        <%= codeobject %>

        <script>
                var curl = { apiName: 'require' };
        </script>
        <script src='<%= projectUrl %>js/utils/curl.js'></script>

        <script>
                require([ '<%= projectUrl %>boot.js' ], function ( interactive ) {
                    var el = document.getElementsByTagName( 'figure' )[0];
                    interactive.boot( el, window, {}, {} );
                });
        </script>
</body>
</html>